---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: alertmanager-secret
  namespace: monitoring
spec:
  encryptedData:
    alertmanager.yml: AgBK9FPRN5smb3RHzyLV1OHl5Hsr/i4dGCv75A/SSkWpFoReo/jnoNyyGER9XnjuNJHcqFNzEKNtIfhJ5qKVS+IBlBQvqObS5thHmdYFEiR3ACW0RtrsKNMScQfFGkCOCb3GCWvclczYmaZ35tubNRZOFkpsrUp1OdLCHjZ9Rh1czHwkf8yxh/kcfbv+i1BLZG8TDq5RlpkyJ4mi58kKhfHBpcZ20sk3Zg17w+PVRL6kLTS6CP7HkKaIPVmnnUwpWYkn9CsPgq4Umtyd8oD2s3RqkTwgBSdo72uYb7qZKbu10df6UiJbMZZCTv2grBSMxmBU6bqyNS6qBKTp2+WWj4TxuOJ/pAVNCGCysLxLTM0Jx6Zy1yhmRRbNVCKeKaP5Fo6kr1YG6cpNOVGN1iP8VkvVKAM0RFS7WRZZboJD0zFYALHIyCsh0qAgWV6cyufBrxYFaEhNQZjDjtE9RssDVDDJfsUVG0PRraQMkSE3VoAQe22ZyVdw2kZXcWm5ohLoiSYK9F8KjfLJGDxW8xMowk3M6QKj6o8hiEN9bi74P9BKVkqrXqADEDR09nvBupqA78BaKkZZqaaGKmEGCXToVO6JQpnHrXZHy5QYPprEtTfp68ud3vgUk4O74IUsvX/dErJn9yCJxztKZdTNFVgke6Foln4dbg132c960L3LYn5NGohN6SFCcUEs0Uhbdth02ACX8zArviD3Tt09YYtpeUJrwnE50hlAdFiBj41OhPWxhyIWbpPhMPXCDdsROkfVNlKvoS/ZHpriFfnDsA0ur+cFFWQ38k+LtlO5JB++uv7AAyxKu65MpgOmP8GC8IPf+My0I6vjtV6yJL3FallcVdfAnEoQi77go4AuD6Sor0SzhblgdQPaSR8guLNmYsmj1qrvY8XDHf5Lx9WgrygaG5NkcUkVicEsBL1zIxM8BFBx9skmYP0jIyMldO7R9O6zReZzouGu4+6CcS/E8VudGEkkea2SglM9NRLkPEAeqDS9150N0T0KAz66OqYS
  template:
    metadata:
      name: alertmanager-secret
      namespace: monitoring
