---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: alertmanager-slack-webhook
  namespace: monitoring
spec:
  encryptedData:
    webhook_url: AgBwgq9MPyShoDZ3OAJeXJsCGvL4aw8UeWaSVr1a6Hw+wIkEL+rUDUVbaZ1YaT2G2566fVcQdosKQ4jgxtXoApsbEwKmNL8K55HUiaQEfNhUC6nPbXqV1rHek/7kJmulX6s91DPEiykGBCEAovBLJy6Av4x+bu1YmqxvEdUHsMYhk+yObYyfWv+ZOQkz4GVkXYyD36pwgkyr/LIe7ZN3Vb5MkdWHLfViTBnWInP0gqO+j8VmXBrnmGuPL9IzBk24Eaa/r9PnHNOjsndI4vbQBJhT7jVEpdyYpesoau/z8so7nUb38TdzD3SC9XFsagP1Np2TZoHpR0qOgi1s/EA57HNpl8X131r21CtFXycJdX1drQP3z9SdPLpi8mlal/eZ2H3pfKXXYzp6mX1fqaQ3twHH6d5a0DxJZnLzDjm1BXfKzHZDu68+4td8KzK32mRU0gcASAtJ1XwrNil69VOxDM9kwaEByC8xCsxUFfSfVEerJuztYd0W62W/Ca/2NAGaU4d4wfTCiMhpWU0iqLmn67Iy6mFDYM+KCd8rmcETScHeY4PpaOs6jDweWmeD/i1V47dfgtCnG6qb8s8hvGASB2ABf1z1TpJ0DZueATRpNdnCRc+EddKLaMR4C6L2OGjlFGwem2ahBXGw+TLqjLU56RKsFCDVCdozudqwY5l/zWcfg5YW6Oevjbwlr8rRkMHi4rQCN/0VQZcbMVlBFDhe51axLJz/8xwtAjxykyKOtf3gXDZenZU9dxHSZwsJ57llLQhX7cioSH2lACnYVuJvMMcX0vPOLy/8IMMh2GPt7P4Si7Q=
  template:
    metadata:
      name: alertmanager-slack-webhook
      namespace: monitoring
    type: Opaque
