apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-rules
  namespace: monitoring
data:
  rules.yml: |
    groups:
      - name: example.rules
        rules:
          - alert: PodCPULoadHigh
            expr: |
              sum by (pod) (rate(container_cpu_usage_seconds_total{image!=""}[1m])) > 0.05
            for: 1m
            labels:
              severity: warning
            annotations:
              summary: "High CPU usage for pod {{ $labels.pod }}"
              description: "Pod {{ $labels.pod }} has high CPU usage"
